@media screen and (min-width: 768px) and (max-width: 1024px){
    .container{
      width: 35rem;
      height: 25rem;
      
      
      
    }
    .title{
        font-size: 1rem;
    }
    .advice{
        font-size: 2rem;
        width: 34rem;
        word-wrap: break-word;

    }
}